In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno

### load items data

In [ ]:
items = pd.read_csv('./data/items.csv')
items.shape
#msno.matrix(items)

In [ ]:
items.head()
#items['family'].value_counts()

### load oil data

In [ ]:
oil = pd.read_csv('./data/oil.csv')
oil.shape
msno.matrix(oil)

In [ ]:
oil.head()
oil['date'].unique()

### load holiday events

In [6]:
events = pd.read_csv('./data/holidays_events.csv')
events.shape
#msno.matrix(events)

(350, 6)

In [7]:
events.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [9]:
events['locale_name'].unique()

array(['Manta', 'Cotopaxi', 'Cuenca', 'Libertad', 'Riobamba', 'Puyo',
       'Guaranda', 'Imbabura', 'Latacunga', 'Machala', 'Santo Domingo',
       'El Carmen', 'Cayambe', 'Esmeraldas', 'Ecuador', 'Ambato', 'Ibarra',
       'Quevedo', 'Santo Domingo de los Tsachilas', 'Santa Elena', 'Quito',
       'Loja', 'Salinas', 'Guayaquil'], dtype=object)

### load store data

In [2]:
stores = pd.read_csv('./data/stores.csv')
stores.shape
#msno.matrix(stores)

(54, 5)

In [20]:
stores.head()
stores_hot_encoded = pd.get_dummies(stores, columns=["city", "state", "type", "cluster"])

In [22]:
stores_hot_encoded.tail()

,store_nbr,city_Ambato,city_Babahoyo,city_Cayambe,city_Cuenca,city_Daule,city_El Carmen,city_Esmeraldas,city_Guaranda,city_Guayaquil,...,cluster_8,cluster_9,cluster_10,cluster_11,cluster_12,cluster_13,cluster_14,cluster_15,cluster_16,cluster_17
49,50,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
50,51,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
51,52,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
52,53,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
53,54,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
cities = stores['city'].unique()
cities_hot_encoded = pd.get_dummies(cities)
cities_hot_encoded['city'] = cities
cities_hot_encoded.head(10)

,Ambato,Babahoyo,Cayambe,Cuenca,Daule,El Carmen,Esmeraldas,Guaranda,Guayaquil,Ibarra,...,Machala,Manta,Playas,Puyo,Quevedo,Quito,Riobamba,Salinas,Santo Domingo,city
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Quito
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Santo Domingo
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Cayambe
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Latacunga
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Riobamba
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Ibarra
6,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Guaranda
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,Puyo
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Ambato
9,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Guayaquil

In [28]:
states = stores['state'].unique()
states_hot_encoded = pd.get_dummies(states)
states_hot_encoded['state'] = states
states_hot_encoded

,Azuay,Bolivar,Chimborazo,Cotopaxi,El Oro,Esmeraldas,Guayas,Imbabura,Loja,Los Rios,Manabi,Pastaza,Pichincha,Santa Elena,Santo Domingo de los Tsachilas,Tungurahua,state
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,Pichincha
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Santo Domingo de los Tsachilas
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,Cotopaxi
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Chimborazo
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,Imbabura
5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Bolivar
6,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Pastaza
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,Tungurahua
8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,Guayas
9,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,Santa Elena
10,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,Los Rios
11,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Azuay
12,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Loja
13,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,El Oro
14,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Esmeraldas
15,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Manabi

In [19]:
event_locales = events['locale_name'].unique()
event_locales

array(['Manta', 'Cotopaxi', 'Cuenca', 'Libertad', 'Riobamba', 'Puyo',
       'Guaranda', 'Imbabura', 'Latacunga', 'Machala', 'Santo Domingo',
       'El Carmen', 'Cayambe', 'Esmeraldas', 'Ecuador', 'Ambato', 'Ibarra',
       'Quevedo', 'Santo Domingo de los Tsachilas', 'Santa Elena', 'Quito',
       'Loja', 'Salinas', 'Guayaquil'], dtype=object)

### load transactions

In [11]:
transactions = pd.read_csv('./data/transactions.csv')
transactions.shape
#msno.matrix(transactions)

(83488, 3)

In [12]:
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

### load training data

In [ ]:
train = pd.read_csv('./data/train.csv')
train.shape

In [ ]:
msno.bar(train.sample(1000))
#train.loc[:,'oil'] = 'get oil price from oil data set for date'
#train[train['date'] == '2013-01-01'].head()
#train['item_nbr'].value_counts()

### loading test data

In [ ]:
test = pd.read_csv('./data/test.csv')
test.shape

In [ ]:
test.head()
#test['item_nbr'].value_counts()

In [ ]:
test['onpromotion'].unique()